<h1>These are the cars in our lot</h1>
<ul>
  @foreach(var Car in Model)
  {
    <li> @Car.GetMakeModel() </li>
  }
</ul>
<p><a href="/">add another car</a></p>
<form action="/cars_cleared" method="post">
  <button type="submit" name="button">clear the lot</button>
</form>
